# OSX
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
Network Trash Folder
Temporary Items
Icon

# Windows
$RECYCLE.BIN/
Desktop.ini
ehthumbs.db
Thumbs.db
*.cab
*.msi
*.msm
*.msp

# Linux
*~
.directory

# Notepad++
nppBackup/
*.bak
*.out

# IntelliJ
.idea/

# Misc
*.ignore

# Build artifacts
build
sample-data

# Node
node_modules
/CHANGES.txt
/db/db_client_characters.lua
/db/db_client_guilds.lua
